<!DOCTYPE html>
<html>
  <head>
    <% include templates/header %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p> <%= desc %></p>

    <div class="file-list-container">
      <%if (files.length > 0) { %>

      <ul class="timeline">
          <% for (var i = 0; i < files.length; i++) { %>
          <li class="timeline-yellow">
              <div class="timeline-time">
                  <span class="date" style="text-align:left"><%= files[i] %></span>
              </div>
          </li>
          <% } %>
      </ul>

      <% } %>
    </div>

    <% include templates/script %>
  </body>
</html>
