<!DOCTYPE html>
<html>
  <head>
    <% include templates/header %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hoşgeldiniz <%= title %></p>

    <% include templates/script %>
  </body>
</html>
